.font {
  font-family: 'Open Sans', sans-serif;
}

.list {
  /*border: 2px solid #eee;*/
  /*border-radius: 32px;*/
  margin: 40px 0;
  padding: 0 20px;
}

.itemWrapper {
  composes: font;
  display: flex;
  padding: 16px;
  border-top: 1px solid transparent;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 20px 0;
  overflow: hidden;
  transition: all ease-in 300ms;
}

.itemWrapper:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .3);
}

.imageWrapper {
  composes: infoPreviewImageWrapper from './ArticleInfoSetting.module.css';
  margin-right: 30px;
}

.image {
  composes: infoPreviewImage from './ArticleInfoSetting.module.css';
  height: 200px;
  width: 200px;
  box-shadow: none;
  border-radius: 8px;
  transition: all ease-in 300ms;
}

.itemWrapper:hover .image{
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.contentWrapper {
  position: relative;
  padding-bottom: 25px;
}

.title {
  composes: infoPreviewTitle from './ArticleInfoSetting.module.css';
  max-height: none;
  line-height: 1.4;
  font-weight: 600;
  white-space: pre-wrap;
}

.infoWrapper {
  margin: 4px 0;
  /*padding-bottom: 2px;*/
  /*border-bottom: 2px solid #ddd;*/
  font-size: 14px;
  font-weight: 600;
}

.author {
  color: salmon;
}

.postedTime {
  /*color: salmon;*/
}

.excerpt {
  composes: infoPreviewExcerpt from './ArticleInfoSetting.module.css';
  margin: 4px 0;
  font-weight: 600;
}

.editOptionsBar {
  position: absolute;
  bottom: 0;
  left: 0;
}

.editOption {
  composes: button from './Header.module.css';
  font-size: 1.2rem;
  border: none;
  line-height: 24px;
  padding: 0 6px;
  margin: 0 8px 0 0;
}

.tagListWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tagList {
  max-height: 22px;
  text-align: right;
}

.tagInput {
  height: 22px;
  width: 78px;
  line-height: 20px;
  margin: 0 0 0 8px;
}

:global(.ant-tag) {
  margin: 0 0 0 8px;
}