.edit-wrapper {
  display: flex;
  border: 2px solid #eee;
}

.edit-wrapper .editor, .edit-wrapper .rendering {
  padding: 10px;
  flex: 1;
}

.editor {
  max-width: 660px;
  /*height: 600px;*/
}

.CodeMirror {
  height: 100%;
  width: 100%;
  max-width: 660px;
  white-space: pre;
  word-break: break-all;
  overflow-wrap: break-spaces;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}
p, ul, li, a, table {
  font-family: 'Open Sans', sans-serif;
}

.emoji {
  height: 1.2em;
}