.edit-wrapper {
  display: flex;
  border: 2px solid #eee;
}

.edit-wrapper > div {
  padding: 10px;
  flex: 1;
}

.editor {
  width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}
p, ul, li, a, table {
  font-family: 'Open Sans', sans-serif;
}