/* global setting */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}
p, ul, li, a, table {
  font-family: 'Open Sans', sans-serif;
}

/* code mirror setting */
:global .CodeMirror {
  height: auto;
}

.articleEditWrapper {
  height: 90vh;
  padding: 10px 0;
}

.editor {
  width: 50%;
  height: auto;
  opacity: 1;
  position: relative;
  padding: 0;
  overflow: auto;
  transition: opacity 400ms 100ms ease, width 500ms ease, padding 500ms ease;
}

.editorOnly {
  composes: editor;
  width: 100%;
  max-width: 2000px;
  opacity: 1;
  padding: 0 230px;
  transition: all 500ms ease;
}

.editorHide {
  composes: editor;
  width: 0;
  padding: 0 0;
  transition: all 500ms ease;
}

/* previewer setting */
:global .emoji {
  height: 1.2em;
}

.preview {
  width: 50%;
  padding: 0 10px;
  overflow: auto;
  transition: all 500ms ease;
  opacity: 1;
}

.previewOnly {
  composes: preview;
  width: 100%;
  max-width: 2000px;
  opacity: 1;
  padding: 0 230px;
  transition: all 500ms ease;
}

.previewHide {
  composes: preview;
  width: 0;
  opacity: 0;
  padding: 0 0;
  transition: all 500ms ease;
}