/* Custom scrollbar style */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ddd;
}


.edit-wrapper {
  display: flex;
  height: 90vh;
}

.edit-wrapper .editor, .edit-wrapper .rendering {
  padding: 0 0 0 10px;
  flex: 1;
}

.editor {
  height: auto;
  position: relative;
  overflow: auto;
}

.CodeMirror {
  /* 使用绝对定位，来显示code mirror的其他样式的滚动条。如果我不修改.CodeMirror的高度，样式其实是可以正常用上的，不知道为什么 */
  /*position: absolute;*/
  /*top: 10px;*/
  /*left: 10px;*/
  /*right: 10px;*/
  /*bottom: 10px;*/
  width: auto;
  height: auto;
}

.rendering {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}
p, ul, li, a, table {
  font-family: 'Open Sans', sans-serif;
}

.emoji {
  height: 1.2em;
}