:global .ant-popover-title {
  text-align: center;
}

:global .ant-modal-title {
  text-align: center;
}

.header {
  background-color: #fafafa;
  height: 10vh;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.05)
}

.button {
  color: #282c34;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1px 6px;
}

.divider {
  margin: 8px 0;
  top: 0;
}

.editorSettingContainer {
  width: auto;
}

.editorSettingItem {
  margin: 4px 0;
}

.coverSettingTip {
  white-space: pre-wrap;
}

.coverPreviewArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 580px;
  margin: 0 auto 24px;
}

.coverPreviewImage {
  height: 290px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  transition: all ease-in 300ms;
}

.coverPreviewImage:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.coverPreviewAreaTipWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

.coverPreviewAreaTip {
  font-size: 20px;
}

.coverPreviewAreaTipWithFeedback {
  composes: coverPreviewAreaTip;
  color: salmon;
}