:global .ant-popover-title {
  text-align: center;
}

:global .ant-modal-title {
  text-align: center;
}

.header {
  background-color: #fafafa;
  height: 10vh;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
  transition: all ease-in 300ms;
}

.header:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.button {
  color: #282c34;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1px 6px;
}

.divider {
  margin: 8px 0;
  top: 0;
}

.editorSettingContainer {
  width: auto;
}

.editorSettingItem {
  margin: 4px 0;
}

