.header {
  background-color: #fafafa;
  height: 10vh;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.05)
}

.button {
  color: #282c34;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1px 6px;
}

.divider {
  margin: 8px 0;
  top: 0;
}

.editorSettingContainer {
  width: auto;
}

:global .ant-popover-title {
  text-align: center;
}

.editorSettingItem {
  margin: 4px 0;
}

.infoSettingModal {
  top: 20px;
  width: 900px !important;
}