@import url('https://fonts.googleapis.com/css?family=Open+Sans|Libre+Lora');

:focus {
  outline: none;
}

.App {
  scroll-behavior: smooth;
  min-height: 100vh;
  min-width: 800px;
}

/* Custom scrollbar style */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ddd;
}

