.textSize {
  font-size: 18px;
}

.textAlignCenter {
  text-align: center;
}

.textCapitalize {
  text-transform: capitalize;
}

.readPageContainer {
  width: calc(100vw - 12px);
  margin: 20px auto 100px;
}

.readPageContent {
  composes: textSize;
  width: 700px;
  background-color: #fff;
}

.title {
  font-family: 'Lora', serif;
}

.infoWrapper {
  margin: -12px 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.author {
  color: salmon;
}

.postedTimeWithUpdated {
  border-bottom: 1px dashed #ccc;
}

.excerptContainer {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #eee;
}

.excerpt {
  color: rgba(0, 0, 0, 0.65);
  font-family: 'medium-content-serif-font', serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .02em;
}

.coverImage {
  display: block;
  max-width: 100%;
}

.coverInfo {
  composes: textAlignCenter;
  margin: 4px 0 0;
  font-size: 16px;
}

.coverInfoLink {
  composes: textCapitalize;
  color: #000;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease;
}

.coverInfoLink:hover {
  color: gray;
  text-decoration: none;
}

.content {
  margin: 18px 0 0;
}

.content :global(.markdown-body) h1,
.content :global(.markdown-body) h2,
.content :global(.markdown-body) h3,
.content :global(.markdown-body) h4,
.content :global(.markdown-body) h5,
.content :global(.markdown-body) h6 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.content :global(.markdown-body) p,
.content :global(.markdown-body) ul,
.content :global(.markdown-body) li,
.content :global(.markdown-body) a,
.content :global(.markdown-body) table {
  /*color: rgba(0, 0, 0, 0.8);*/
  line-height: 1.58;
  font-family: 'medium-content-serif-font', serif;
  font-size: 21px;
  letter-spacing: -.003em;
}

.content a {
  color: #000;
  /*text-decoration: underline;*/
  border-bottom: 1px solid #ccc;
  transition: all 0.1s ease;
}

.content a:hover {
  color: gray;
  text-decoration: none;
  border-bottom: none;
}